# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
storage-queue-example/bin/Debug/net5.0/..dll
storage-queue-example/bin/Debug/net5.0/..pdb
storage-queue-example/obj/..csproj.nuget.dgspec.json
storage-queue-example/obj/project.assets.json
storage-queue-example/obj/project.nuget.cache
storage-queue-example/obj/Debug/net5.0/..assets.cache
storage-queue-example/obj/Debug/net5.0/..csproj.FileListAbsolute.txt
storage-queue-example/obj/Debug/net5.0/..dll
storage-queue-example/obj/Debug/net5.0/..genruntimeconfig.cache
storage-queue-example/obj/Debug/net5.0/..pdb
